<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <title>Product GPT</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='idea.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

  <style>
    li:not(.active) {
      display: none;
    }

    li {
      display: block;
      position: relative;
      white-space: nowrap;
    }

    .textarea-wrapper {
      position: relative;
    }

    .textarea-wrapper button {
      position: absolute;
      bottom: 40%;
      right: 2%;
    }
  </style>
</head>

<body>
  <img src="{{ url_for('static', filename='idea.png') }}" class="icon" />
  <h3>Product Generator</h3>
  <form action="/" method="post">
    <div class="textarea-wrapper">
      <!-- <input type="text" name="product" placeholder="Enter the market for product ideas" required /> -->
      <!-- <input type="submit" value="Generate ideas" /> -->
      <textarea id="product" name="product" placeholder="Type the market for generating product ideas"
        required></textarea>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </form>

  <div style="width:100%;word-wrap: break-word; overflow: auto;">
    {% if result %}
    <ul>
      {% for item in result %}
      {% if item != '' %}
      <div{% if loop.first %} class="active" {% endif %}>
        <div class="typewriter"> <span style="font-size:30px;margin-right:10px;">• </span>{{ item }}</div>
  </div>
  {% endif %}
  {% endfor %}
  </ul>
  {% endif %}
  </div>




  <script>
    const items = document.querySelectorAll('ul > div');
    let i = 0;
    let delay = 0;
    items.forEach(item => {
      const text = item.textContent;
      item.textContent = '';
      setTimeout(() => {
        item.classList.add('typewriter');
        let j = 0;
        const interval = setInterval(() => {
          if (j < text.length) {
            item.textContent += text.charAt(j);
            j++;
          } else {
            clearInterval(interval);
            item.parentNode.nextElementSibling.classList.add('active'); // add the active class to the next li element
          }
        }, 10);
      }, delay);
      i++;
      delay += (text.length * 10) + 1000;
    });
  </script>





</body>